@model QuizDemo.Models.UserViewModel

<h2>Grupa.NET Sekcja Web - Quiz</h2>
<div id="container">
    <form action="Home/GetQuiz" method="post">
        <div class="row">
            <label for="user-name">Nazwa użytkownika</label>
            <input type="text" id="user-name" name="userName" />
        </div>
        <div class="row">
            <label for="user-password">Hasło</label>
            <input type="password" id="user-password" name="password" />
        </div>
        <div class="row checkbox">
            <label for="remember-me">Zapamiętaj mnie</label>
            <input type="checkbox" id="remember-me" name="rememberMe" />
        </div>
        <input type="submit" value="Zaloguj" />
    </form>
    @*@{Html.RenderAction("GetQuiz", "Home");}*@
</div>